@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cards .g {
    height: 150px;
    width: 330px;
}

.cards .p {
    height: 150px;
    width: 150px;
}

.cards .card {
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.cards .card h2 {
    margin-left: 18px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
  	-webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}

.footer {
    margin-top: 80px;
    margin-left: 30px;
}

.footer .footer-text {
    color: var(--text-color);
    padding-bottom: 20px;
}

/*backgroud cards for games*/

.cards .narrow {
    background-image: url("../img/games/narrowone.JPG");
}
.cards .deux {
    background-image: url("../img/games/2048.jpg");
}
.cards .bloxd {
    background-image: url("../img/games/bloxdio.JPG");
}
.cards .skkribl {
    background-image: url("../img/games/scribble.png");
}
.cards .ctr {
    background-image: url("../img/games/cuttherope.png");
}
.cards .fruit {
    background-image: url("../img/games/fruitninja.png");
}
.cards .stack {
    background-image: url("../img/games/stack.png");
}
.cards .battle {
    background-image: url("../img/games/battledudes.png");
}
.cards .taming {
    background-image: url("../img/games/taming.png");
}
.cards .paper {
    background-image: url("../img/games/paper2.png");
}
.cards .subway {
    background-image: url("../img/games/subway.webp");
}
.cards .duck {
    background-image: url("../img/games/ducklings.png");
}
.cards .rabbit {
    background-image: url("../img/games/rabbit.jpg");
}
.cards .surf {
    background-image: url("../img/games/surf.png");
}
.cards .stick {
    background-image: url("../img/games/stickman.png");
}
.cards .smash {
    background-image: url("../img/games/smashkarts.png");
}
.cards .yohoho {
    background-image: url("../img/games/yohoho.jpg");
}
.cards .beans {
    background-image: url("../img/games/lolbeans.png");
}
.cards .moto {
    background-image: url("../img/games/moto3xm.png");
}
.cards .jklm {
    background-image: url("../img/games/jklm.png");
}
.cards .school {
    background-image: url("../img/games/schoolbreak.png");
}
.cards .bloons {
    background-image: url("../img/games/bloonstd4.png");
}
.cards .sand {
    background-image: url("../img/games/sandspiel.JPG");
}
.cards .littlealchemy2 {
    background-image: url("../img/games/littlealchemy.png");
}
.cards .drive {
    background-image: url("../img/games/drivemad.jpg");
}
.cards .swerve {
    background-image: url("../img/games/swerve.JPG");
}


/*backgroud cards for apps */

.cards .ytb {
    background-image: url("../img/apps/youtube.jpg");
}
.cards .tktk {
    background-image: url("../img/apps/tiktok.png");
}
.cards .google {
    background-image: url("../img/apps/google.png");
}
.cards .ds {
    background-image: url("../img/apps/discord.jpg");
}
.cards .qwant {
    background-image: url("../img/apps/qwant.png");
}
.cards .tv {
    background-image: url("../img/apps/twittch.png");
}
.cards .piped {
    background-image: url("../img/apps/piped.png");
}
.cards .cytb {
    background-image: url("../img/apps/cloud.JPG");
}
.cards .reddit {
    background-image: url("../img/apps/reddit.png");
}
.cards .coflix {
    background-image: url("../img/apps/coflix.png");
}
.cards .scratch {
    background-image: url("../img/apps/scratch.png");
}
.cards .turbo {
    background-image: url("../img/apps/turbowarp.png");
}
.cards .replit {
    background-image: url("../img/apps/replit.png");
}
.cards .github {
    background-image: url("../img/apps/github.png");
}
.cards .eve {
    background-image: url("../img/games/eve.webp");
}
.cards .croxy {
    background-image: url("../img/apps/croxy.png");
}
.cards .incognito {
    background-image: url("../img/apps/incog.png");
}
.cards .chatgpt {
    background-image: url("../img/apps/chatgpt.jpg");
}
.cards .now {
    background-image: url("../img/apps/now.png");
}
.cards .krunker {
    background-image: url("../img/games/krunker.png");
}
.a {
    margin-top: 20px;
    margin-left: 50px;
}

.a #domUrlToOpen {
    height: 30px;
    width: 300px;
}
.console-container {
    margin-left: 50px;
}

button {
    border-radius: 50px;
    padding: 8px;
    margin: 5px;
    color: rgb(0, 0, 0);
    background-color: #e0e0e0;
    border: 0;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}
.a .URL{
    color: var(--widget-text)
}

.a #url-target {
    height: 30px;
    width: 300px;
}

.console-container {
    margin-left: 50px;
}
.consolebody p{
    color: var(--widget-text);
}
.bookmarklet {
    margin-left: 50px;
}
.bookmarklet h3, p {
    color: var(--widget-text);
}
.cards .ecoledirecte {
    background-image: url("../img/apps/ecoledirecte.png");
}
.cards .nosdevoirs {
    background-image: url("../img/apps/nosdevoirs.png");
}
.cards .deepl {
    background-image: url("../img/apps/deepl.png");
}
.cards .trad {
    background-image: url("../img/apps/trad.png");
}
.cards .spotify {
    background-image: url("../img/apps/spotify.png");
}
.cards .koyeb{
    background-image: url("../img/apps/koyeb.png");
}
.cards .diep{
    background-image: url("../img/games/diep.png");
}


.widget1 img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    size: 100%;
}

.widget{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.widget1 {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 220px;
    width: 400px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

 .widget1 h2 {
    padding: 25px;
    color: white;
    font-size: 23px;
    
 }

 .widget1 h5 {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    color: white;
    font-size: 23px;
 }
 .widget1 h8 {
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    color: white;
    font-size: 23px;
    font-weight: 600;
 }

 .widget1 user {
    padding-top: 25px;
    color: white;
    font-size: 23px;
    font-weight: 600;
 }

 .widget1 h8 grade{
    color: #e63939;
 }

 .widget1 h8 vip{
    color: #bbff6e;
 }

 .widget1 h3 {
    padding-left: 25px;
    color: var(--widget-text);
    font-size: 15px;
    font-weight: 400;
    
 }

 .back {
    background-image: url("../img/backvip.jpg");
    background-size: cover;
 }

 .username {
    margin-top: 30px;
    display: flex;
}
